<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hante.newprojectsum">

    <uses-sdk android:minSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 广播 静态注册 -->
        <receiver
            android:name=".broadcast.BootReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activitys.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4461dfd5d29d4c8a7a3a360df36cdcb5bbfe049e"/>

        <activity
            android:name=".activitys.ViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewProjectSumHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.UserInfomationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAnimations"/>
        <activity
            android:name=".activitys.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activitys.BottomSheetActivity"
            android:screenOrientation="portrait"/>
        <!-- 服务 -->
        <service
            android:name=".service.SimpleService"
            android:exported="false"/>
        <service android:name=".service.BinderService"/>
        <service android:name=".service.ForegroundNotificationService"/>

        <activity
            android:name=".serviceactivity.ServiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".textinputactivity.TextInputLayoutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".shareelements.ElementsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialAnimations">
        </activity>
        <activity android:name=".okhttpactivity.OkHttpActivity">
        </activity>
        <activity android:name=".tablelayout.TabLayoutActivity">
        </activity>
        <activity android:name=".meterialdesign.MaterialDesignAppBarActivity">
        </activity>
    </application>

</manifest>